h1 {
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 45px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

.card {
    height: 200px;
    margin-bottom: 25px;
}

.jumbotron {
    background: white;
    padding-top: 25px;
}

.crystal-img {
    float: center;
    margin-right: 33px;
    width: 200px;
    height: 200px;
}